<launch>

  <!-- Robot Model & Kinematics-->
  <!--param name="robot_description" command="$(find xacro)/xacro.py '$(find barrett_model)/robots/wam_7dof_$(arg robot_name).urdf.xacro'--> 
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find irk_simulation)/model/master_console_gazebo.urdf.xacro'"/>
  <param name="root_link" value="mtm_right_top_panel"/>
  <param name="tip_link" value="mtm_right_wrist_roll_link"/>

  <param name="root_link" value="mtm_left_top_panel"/>
  <param name="tip_link" value="mtm_left_wrist_roll_link"/>
</rosparam>
</launch>










































